@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html[data-theme="coffee"] {
  --text: #fee6cc;
  --main-background: #e8c5a5;
  --accent-background: #4c2b08;
  --btn-shadow: 2px 3px 6px var(--accent-background),
    0px -2px 8px 2px #30190f inset;

  --front-card-background: #fee6cc;
  --card-shadow: -2px -2px 10px 2px #30190f inset;
}

html[data-theme="flowers"] {
  --text: #f0e6d6;
  --main-background: #f5f5dc;
  --accent-background: #006400;
  --btn-shadow: 2px 3px 6px #3d523b, 0px -2px 8px 2px #2e4b25 inset;

  --front-card-background: #faf4e6;
  --card-shadow: -2px -2px 10px 2px #3d523b inset;
}

html[data-theme="music"] {
  --text: #4b3832;
  --main-background: #f8e8d3;
  --accent-background: #ee9e2b;
  --btn-shadow: 2px 3px 6px #b5651d, 0px -2px 8px 2px #a65c1b inset;

  --front-card-background: #fff5e1;
  --card-shadow: -2px -2px 10px 2px #b5651d inset;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-background);
  transition: background-color 200ms linear;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  display: inline-block;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
}
